@media only screen and (min-width: 0px) {

    .certExpand{
        text-align: center;
        margin: 0px 0px 0px 0px;
        position:absolute;
        z-index:1000;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        border:none;

    }

    .certExpand button{
        color: white;
        background-color: black;
        padding: 0px 0px 5px 0px;
        background: none;
        border: none;

    }

    .certExpand button img{
        width: 4%;

    }

    .certificateBounding{
            text-align: center;
        }

    .certificate {
        width: 90%;
        height: 100%;
        display: inline-block;
        padding: 2%;
    }

    .certificateTall {
            width: 40%;
            display: inline-block;
            padding: 4%;
        }

    .certificateFrame {
        height: 100%;
        width: 100%;
    }

    .additionalResources {
        text-align: center;
    }

    .additionalResources button{
        border-color: black;
        background-color: white;
        color: black;
        padding: 3px;
        border: none;
    }
}

@media only screen and (min-width: 800px) {
    .certExpand{
        text-align: center;
        margin: 0px 0px 0px 0px;
        position:absolute;
        z-index:1000;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        border:none;

    }

    .certExpand button{
        color: white;
        background-color: black;
        padding: 0px 0px 5px 0px;
        background: none;
        border: none;

    }

    .certExpand button img{
        width: 4%;

    }

    .certificateBounding{
        text-align: center;
    }

    .certificate {
        width: 240px;
        height: 100%;
        display: inline-block;
        padding: 1% 2%;
        text-align: center;
        vertical-align:top;
    }

    .certificateTall {
        width: 160px;
        height: 100%;
        display: inline-block;
        padding: 1% 2%;
        text-align: center;
        vertical-align:top;
    }

    .certificate h3 {
        vertical-align : middle;
    }

    #certificateFrame {
        height: 100%;
        width: 100%;
        }

}