
@media only screen and (min-width: 0px) {

    body {
        background-color: black;
    }

    #content_dash {
        font-family: "Times New Roman";
        background-color: black;
        color: white;
        width: 100vw;
        display: block;
    }

    #content_dash h1{
        text-align: left;
        margin-left: 1vw;
    }

    .skills_dash {
        display: block;
        width: 100vw;
        height: 500px;
        vertical-align:top;
    }

    .skills_dash_double {
        display: block;
        width: 100vw;
        height: 100vh;
        vertical-align:top;
    }

    .skills_dash img{
       width: 48%;
       max-height: 10%;
    }

    .dash-logo{
       display: inline-block;
       text-align: left;
       vertical-align:top;
       padding: 1%;
       width: 16%;
       height: 100%;
    }
    .dash-logo img{
       display: block;
       width: 100%;
       max-height: 9.1%;
    }

    .dash-text {
        text-align: left;
        display: inline-block;
        width: 74%;
        height: 100%;
    }

    .LogoHover {
      position: relative;
      display: inline;
    }

    .LogoHover .LogoHoverText {
      visibility: hidden;
      width: 256px;
      background-color: #2cbcfc;
      color: #fff;
      text-align: left;
      border-radius: 6px;
      padding: 12px;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }

    .LogoHover:hover .LogoHoverText {
      visibility: visible;
    }

    .skills_dash_double {
        display: block;
        width: 100vw;
        height: 500px;
        vertical-align:top
    }

    .round_chart_small {
        height: 50%;
        width: 100%;
    }

    .round_chart_large {
        height: 50%;
        width: 100%;
    }

    .skills_dash_half {
        height: 500px;
        width: 100%;
    }

}



@media only screen and (min-width: 800px) {

    .skills_dash {
        text-align: left;
        display: inline-block;
        width: 35vw;
        height: 42vh;
        vertical-align:top
    }

    .skills_dash_half {
        display: inline-block;
        width: 49vw;
        height: 42vh;
        position: relative;
        vertical-align:top
    }

    #content_dash {
        width: 100%;
        height: calc(100vh - 4vh - 76px);
    }

    .skills_dash_double {
        display: inline-block;
        width: 64vw;
        height: 42vh;
        vertical-align:top
    }

    .round_chart_small{
        height: 55%;
        width: 65%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .round_chart_large{
        height: 55%;
        width: 75%;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .dash-logo{
       display: inline-block;
       vertical-align:top;
       padding: 1%;
       width: 16%;
       height: 100%;
    }
    .dash-logo img{
       display: block;
       width: 100%;
       max-height: 9.1%;
    }

    .dash-text {
        display: inline-block;
        width: 74%;
        height: 100%;

    }
}