@media only screen and (min-width: 1px) {
    .navbar {
        display: none}

    .NavSwitch {
        display: none}
    }
}

@media only screen and (min-width: 800px) {
    .navbar {
      display: inline:
      overflow: hidden;
      background-color: #000;
      height: 4vh;
      min-height: 50px;
      border-bottom: 1px solid #00adef;

    }

    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .dropdown {
      float: left;
      overflow: hidden;
    }

    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #00adef;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      padding: 0%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
      z-index:1200;
    }



    .NavSwitch{
        display: inline;
        text-align: center;
        margin: 0px 0px 0px 0px;
        position:absolute;
        z-index:1000;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        border:none;

    }

    .NavSwitch button{
        color: white;
        background-color: black;
        padding: 5px 0px 0px 0px;
        background: none;
        border: none;

    }

    .NavSwitch button img{
        width: 7%;

    }

}