@media only screen and (min-width: 1px) {


    .text-container {
      text-align: center;
    }

    .text-container p {

      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .text-container img {

      width: 100%;
      margin-left: auto;
      margin-right: auto;

    }

    .text-container ul {
        text-align: center;
        list-style-position: inside;
    }

    .PolarImages {
        width: 100%;
    }

    IFrame {
        display: block;
        background: #0000;
        border: none;
        top: 0; right: 0;
        bottom: 0; left: 0;
        height: 100%;
        width: 100%;
    }

    .vimeo {
        height: 40vh;
    }

    .homePage img{
        width: 100%;
        height: 96vh;
        background-color: black
    }

    .content {
        height: 92vh;
    }

    #content_dash {
        background-color: black;
        height: 100%;
    }

    h3 {
        display: block;
        font-size: 1em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    body {
      margin: 0;
      font-family:  "Times New Roman", Arial, Helvetica, sans-serif;
    }





    #content_dash {
        font-family: "Times New Roman";
        background-color: black;
        color: white;
        }

    .skills_dash {
        display: inline-block;
        width: 100vw;
        height: 48vh;
        vertical-align:top
    }

    .skills_dash_double {
        display: inline-block;
        width: 100vw;
        height: 100vh;
        vertical-align:top
    }


    .skills_dash img{
       width: 48%;
       max-height: 10%;
    }

    .dash-logo{
       display: inline-block;
       vertical-align:top;
       padding: 2%;
       width: 16%;
       height: 100%;
    }
    .dash-logo img{
       width: 100%;
       max-height: 9.1%;
    }

    .dash-text {
        display: inline-block;
        width: 74%;
        height: 100%;
        padding: 2%;

    }

    .mini {
        display: inline-block;
        border: 0;
        width: 49%;
        height: 100%;
    }

    iframe {
        border: 0;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 800px) {

    .text-container{
      text-align: center;
    }

     .text-container p {

      max-width: 720px;
      margin-left: auto;
      margin-right: auto;
    }

    .text-container img {

      max-width: 720px;
      margin-left: auto;
      margin-right: auto;

    }

    .ThreeDImageTall{
      width: 100vw;
      height: 92vh;
      background-color: black;
    }

    .ThreeDImageTall img{
      height: 100%

    }

    .ThreeDImage{
      width: 100vw;
      height: 92vh;
      background-color: black;
    }

    .ThreeDImage img{
      width: 100%

    }

    .PolarImages {
        width: 360px;
    }




    .certExpand{
        text-align: center;
        margin: 0px 0px 0px 0px;
        position:absolute;
        z-index:1000;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        border:none;

    }

    .certExpand button{
        color: white;
        background-color: black;
        padding: 0px 0px 5px 0px;
        background: none;
        border: none;

    }

    .certExpand button img{
        width: 4%;

    }

    .certificateBounding{
        text-align: center;
    }

    .certificate {
        width: 240px;
        height: 100%;
        display: inline-block;
        padding: 1% 2%;
        text-align: center;
        vertical-align:top;
    }

    .certificateTall {
        width: 160px;
        height: 100%;
        display: inline-block;
        padding: 1% 2%;
        text-align: center;
        vertical-align:top;
    }

    .certificate h3 {
        vertical-align : middle;
    }

    #certificateFrame {
        height: 100%;
        width: 100%;
        }


    #content_dash {
          font-family: "Times New Roman";
          background-color: black;
          color: white;
        }

    .skills_dash {
        display: inline-block;
        width: 32vw;
        height: 48vh;
        vertical-align:top
    }

    .skills_dash_double {
        display: inline-block;
        width: 64vw;
        height: 48vh;
        vertical-align:top
    }


    .skills_dash img{
       width: 48%;
       max-height: 10%;
    }

    .dash-logo{
       display: inline-block;
       vertical-align:top;
       padding: 2%;
       width: 16%;
       height: 100%;
    }
    .dash-logo img{
       width: 100%;
       max-height: 9.1%;
    }

    .dash-text {
        display: inline-block;
        width: 74%;
        height: 100%;
        padding: 2%;

    }

    .mini {
        display: inline-block;
        border: 0;
        width: 49%;
        height: 100%;
    }

    iframe {
        border: 0;
        width: 100%;
        height: 100%;
    }

    }






